/* Center the entire OthelloPage */
.othello-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
  background-color: #F0FFF0; /* Very pale green, for a subtle board-like feel */
  font-family: 'Comic Sans MS', 'Comic Neue', cursive; /* Bubbly font for the whole page */
  color: #006400; /* Dark green, reminiscent of an Othello board */
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1); /* Slight 3D effect on texts */
}

/* Style the background image */
.background-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px; /* Rounded corners for images */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Soft shadow for depth */
}

/* Style the rules section */
.rules {
  text-align: center;
  margin: 20px;
  background-color: #98FB98; /* Pale green background for contrast */
  padding: 20px;
  border-radius: 20px; /* Rounded corners for a bubbly look */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Soft shadow for depth */
}

/* Style the play button */
.play-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px; /* More rounded corners for a bubbly button */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Soft shadow for depth */
}

.play-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slightly enlarge button on hover for a playful effect */
}
